body {
font-family: 'Just Another Hand', cursive;
background-color: #073b4c;
width: 100%;
background-position: top;
background-repeat: no-repeat;
background-size: cover;
}

h1, h2{
  font-weight: 300;
  font-size: 150px;
}

h3{
  font-weight: 300;
  font-size: 75px;
}

#title{
  color: #ffd166;
  line-height: 50px;
}

#question {
  display: inline;
  color: #f4f1de;
}

#mnistCanvas{
  vertical-align: top;
  display: inline;
  border: 5px solid #f4f1de;
}

#predResponse{
  display: inline;
  color: #118ab2;
}

.container {
  text-align: center;
  margin: 50px auto;
}

.clientResponder{
	background-color:#f4f1de;
	border-radius:50px;
  margin: auto;
  border-width: 10;
  max-width: 1100px;
  line-height: 90px;
	font-family:'Just Another Hand', cursive;
	font-size:70px;
  letter-spacing: 3px;
  text-align: center;
	text-decoration:none;
}

.btn {
  margin: 10px;
	background-color:#f4f1de;
	border-radius:20px;
  border-width: 0;
	cursor:pointer;
	color:#073b4c;
  line-height: 70px;
	font-family:'Just Another Hand', cursive;
	font-size:70px;
  letter-spacing: 3px;
	padding:13px 32px 0 32px;
  text-align: center;
	text-decoration:none;
}

.btn:hover{
  background-color: #073b4c;
  color: #ffd166;
}